.title-read-more {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 25px;
  position: relative;
  &:after {
    content: "Read More";
    position: absolute;
    left: 0;
    top: 30px;
    cursor: pointer;
    font-size: 13px;
  }
}
.title-read-less {
  text-overflow: unset;
  white-space: normal;
  overflow: visible;
  &:after {
    content: "Read Less";
    position: relative;
    left: 12px;
    top: 0;
    cursor: pointer;
    font-size: 13px;
  }
}
